@import "tailwindcss";

.m-plus {
  font-family: var(--font-m-plus)
}

.zalando {
  font-family: var(--font-zalando)
}

.playfair {
  font-family: var(--font-playfair)
}

.reddit {
  font-family: var(--font-reddit)
}

.source {
  font-family: var(--font-source)
}

.cormorant {
  font-family: var(--font-cormorant)
}

.gothic {
  font-family: var(--font-gothic)
}

.oswald {
  font-family: var(--font-oswald)
}

.aged {
  -webkit-filter: sepia(80%) contrast(1) opacity(0.8);
  filter: sepia(80%) grayscale(1) contrast(1) opacity(0.8);
  mix-blend-mode: multiply;
}

.aged-less {
  filter: grayscale(100%) sepia(870%) contrast(120%) opacity(0.9);

}